<h1>Your Messages</h1>

<table border="1" >
  <tr align="left">
    <th width="5%">Read</th>
    <th width="25%">Sender</th>
    <th width="50%">Subject</th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.read %></td>
    <td><%= message.sender %></td>
    <td ><%= message.subject %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
