<% provide(:title, "Sign In") %>
<h1>Sign In</h1>
<div class="row">
	<div class="span6 offset3">
		<%=  form_for(:session, url: sessions_path) do |f| %>
		<%= f.label :user_name %>
		<%= f.text_field :user_name %>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<br/>
		<%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
		<% end %>
		<% if flash[:error] %>
			<div class="error"><%= flash[:error] %></div>
		<% end %>

		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>