<% provide(:title, "Sign in") %>
<h1>Login</h1>
<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="row">
	<div class="span6 offset3">
		<%=  form_for(:session, url: sessions_path) do |f| %>
		<%= f.label :user_name %></br>
		<%= f.text_field :user_name %></br>
		</br>
		<%= f.label :password %></br>
		<%= f.password_field :password %></br>

		<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>

		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>