<style type="text/css">
.level_header
{   
    position: relative;
    background-color:#4282A3;
    font-size: 16px;
    padding : 2px;
}
.level_content
{
    border-left:1px solid #0099CC; 
    height:128px;
    position:relative;

    background-color:#B3CDDA

}
.level_divider {

    /*puts image on the left*/
    float:left;
}
.level_button{
    /*show, edit, and destroy text*/
    position: absolute;
    top: 5px;
    right: 5px;
}
.level_creator{
    padding-left: 5px;
    padding-top: 5px;
    float: left;
}
.level_rating{
    padding-right: 5px;
    padding-top: 5px;
    float: right;
}

.class_name span {
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    top:0px;
    left:0px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    display: inline;
}


/*

%= button_to 'Edit', edit_level_path(level), method: :get, class: "btn-small btn-warning" %
                %= button_to 'Destroy', level, confirm: 'Are you sure?', method: :delete, class: "btn-small btn-danger" %

*/

</style>
<h1>Listing levels</h1>
<link rel="stylesheet" type="text/css" href="assets/level.css">
<%= form_tag("/levels", method: "get") do %>
    <!-- %= label_tag ("Sort By:") % -->
    Sort By:
    <%= select_tag(:sort, options_for_select([['Title','title'],['User Name','user_name'],['Release Date','created_at'],['Rating','Avg_Rating']],params[:sort]), :style => "width:130px") %>
    <%= select_tag(:direction, options_for_select([['ASC'],['DESC']], params[:direction]), :style => "width:70px")  %>
    <!-- %= label_tag ("Restrictions:") % -->
    Restrictions:
    <%= select_tag(:restrictions, options_for_select([['All'],['Both'],['Moves','restriction_move'],['Time','restriction_time'],['None']],params[:restrictions]), :style => "width:80px") %>
    <%= submit_tag "Search", class: "btn  btn-inverse" %>
<% end %>

<% @levels.each do |level| %>
<div class="panel panel-default">
    <div class="level_header"><h3><%= level.title %></h3>
        <div class="level_button">
                
                <%=link_to "edit", edit_level_path(level), :style=>'color:#FFFFFF;' %>
                <b style="color:#FFFFFF"> |</b> 
                <%=link_to "delete", level, {confirm: 'Are you sure?', method: 'delete', :style=>'color:#FFFFFF;'}%>
            </div>
    </div>
        <div class="level_content">
            <div class="level_divider">
                <% if level.restriction_move > 0 and level.restriction_time > 0 %>
                    <img src="assets/both.jpg">
                <% elsif level.restriction_move == 0 and level.restriction_time > 0 %>
                    <img src="assets/time.jpg">
                <% elsif level.restriction_move > 0 and level.restriction_time == 0 %>
                    <img src="assets/move.jpg">
                <% elsif level.restriction_move == 0 and level.restriction_time == 0 %>
                    <img src="assets/none.jpg">
                <% end %>
            </div>



            <div class="level_creator" style="font-size:150%">Created by: <%= level.user_name %> </div>

            <div class="level_rating" style="font-size:150%"> 
                <% (1..level.avg_rating).each do |i| %>
                    ★
                <% end %>
                <% (1..(5-level.avg_rating)).each do |i| %>
                    ☆ 
                <% end %>
            
            </div>
            <br/>
            <hr>

            <%= level.description %>
            <div class="class_name">
                <%= link_to content_tag(:span), level%>
            </div>

        </div>
    </div>
<% end %>


<br />

<%= link_to 'New Level', new_level_path %>
