<h1>Listing levels</h1>
<%= form_tag("/levels", method: "get") do %>
    <!-- %= label_tag ("Sort By:") % -->
    Sort By:
    <%= select_tag(:sort, options_for_select([['Title','title'],['User Name','user_name'],['Release Date','created_at'],['Rating','Avg_Rating']],params[:sort]), :style => "width:130px") %>
    <%= select_tag(:direction, options_for_select([['ASC'],['DESC']], params[:direction]), :style => "width:70px")  %>
    <!-- %= label_tag ("Restrictions:") % -->
    Restrictions:
    <%= select_tag(:restrictions, options_for_select([['All'],['Both'],['Moves','restriction_move'],['Time','restriction_time'],['None']],params[:restrictions]), :style => "width:80px") %>
    <%= submit_tag "Search", class: "btn  btn-inverse" %>
<% end %>

<% @levels.each do |level| %>
<div class="panel panel-default">
        <div class="panel-heading"><%= level.title %> by: <%= level.user_name %></div>
        <div class="panel-body">
            <% if level.restriction_move > 0 and level.restriction_time > 0 %>
                <img src="assets/both.jpg">
            <% elsif level.restriction_move == 0 and level.restriction_time > 0 %>
                <img src="assets/time.jpg">
            <% elsif level.restriction_move > 0 and level.restriction_time == 0 %>
                <img src="assets/move.jpg">
            <% elsif level.restriction_move == 0 and level.restriction_time == 0 %>
                <img src="assets/none.jpg">
            <% end %>
            <%= level.avg_rating %>/5 
        
            <%= level.description %>
    
            <%= link_to 'Show', level %>
            <%= link_to 'Edit', edit_level_path(level) %>
            <%= link_to 'Destroy', level, confirm: 'Are you sure?', method: :delete %>
        </div>
    </div>
<% end %>


<br />

<%= link_to 'New Level', new_level_path %>
