<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @level.user_name %>
</p>

<p>
  <b>Avg rating:</b>
  <%= @level.avg_rating %>
</p>

<p>
  <b>Title:</b>
  <%= @level.title %>
</p>

<p>
  <b>Description:</b>
  <%= @level.description %>
</p>

<p>
  <b>Move Restriction:</b>
  <%= @level.restriction_move %>

</p>

<p>
  <b>Time Restriction:</b>
  <%= @level.restriction_time %>
</p>

<p>
  <b>Level string:</b>
  <%= @level.level_string %>
</p>


<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>