<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Project Ice Cube</a>
      <!-- login/signup from the naviagation nav_bar  -->
    <% if signed_in? %>
      <p style="float:right; margin-top:0; color:white">
        <%= current_user.user_name %>
        <%= link_to "Sign out", signout_path, method: 'delete' %>
      </p>
    <%else%>
      <p style="float:right; margin-top:0; color:white" >
        <%= link_to 'Sign In', signin_path %> / 
        <%= link_to 'Sign Up' , signup_path %> 
      </p>
  <%end%>
  <!-- Elements of the navigation bar, have the ability -->
  <!-- to collapse to a single button                   -->
      <nav class="nav-collapse">
        <ul class="nav pull-right">
          <li><%= link_to "Home" %></li>
          <li><%= link_to "News" %></li>
          <li><%= link_to 'Levels', levels_path %></li>
          <li><%= link_to 'Create Level', new_level_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>