<!-- Variables -->
<%show_nav_bar = true%>

<!-- HTML code -->
<!DOCTYPE html>
<html>
	<head>
	  <title>Icecube</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
		<!-- id's, classes, and other styles that should be in a stylesheet -->
		<style>
			#nav_bar
			{
				text-align: center;
			}
			li{
				display:inline;
				padding-left: 0px;
				padding-right: 0px;
				font-size: 14px;
			}
		</style>	
		<!-- Page information (i think) -->	
	</head>

	<!-- Display page -->
	<body>
		<!-- Navigation Bar with Bootstrap CSS -->
		<%if show_nav_bar%>
			<%= render 'layouts/header' %>
		<%end%>
		<div class="container" style="padding-top:60px">
		    <div class="row" >
		      <div class="span9"><%= yield %></div>
		      <div class="span3">
		      </div>
		    </div>
		</div>
	</body>
</html>
