<!-- Variables -->
<%signed_in = false%>


<!-- HTML code -->
<!DOCTYPE html>
<html>
	<head>
		<!-- id's, classes, and other styles that should be in a stylesheet -->
		<style>
			#nav_bar
			{
				margin-top: 20px;
				text-align: center;
			}
			li{
				display:inline;
				padding-left: 20px;
				padding-right: 20px;
				font-size: 18px;
			}
		</style>	

		<!-- Page information (i think) -->	
	  <title>Icecube</title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<!-- Display page -->
	<body>
		<%if !signed_in%>
			<p style="float:right; margin-top:0">
				<%= link_to 'Sign Up'	, new_user_path %>
				<a href=#'Login'>Login</a>
			</p>
		<%else%>
			<p style="float:right; margin-top:0">
				user name here<%=link_to 'Log-out', users_path%>
			</p>
		<%end%>
		<!-- this </br> is very important because it is what separates the 	-->
		<!-- login/signup from the naviagation nav_bar 											-->
		</br>

		<ul id="nav_bar">
				<li>Home</li>
				<li><%= link_to 'Levels', levels_path %></li>
				<li><%= link_to 'Create Level', new_level_path%></li>
				<li>News</li>
		</ul>

		<%= yield %>

	</body>
</html>
